__pycache__
venv/*
Makefile
acc_creds.json
key_file.txt
!secrets
secrets/*
misc_files
nginx/*
!/nginx/*.template.conf
!/nginx/*.sh
pgp_config/*
pgp_config/img_keys/*
!pgp_config/img_keys
/scripts/app/populate_app_startup_vars.sh
/scripts/app/start_app.local.dev.sh
/scripts/app/start_app.local.prod.sh
/scripts/app/start_app.test.sh
/scripts/app/start_app.deploy.sh
/scripts/encrypt/encrypt_cred_files.sh
/scripts/encrypt/populate_encrypt_vars.sh
/scripts/initialize/populate_init_vars.sh
/scripts/initialize/initialize_vault.sh
/scripts/initialize/vault_startup.sh
/scripts/rotate/rotate_app_credentials.sh
/scripts/rotate/rotate_vault_credentials.sh
/scripts/update/populate_update_vars.sh
/scripts/update/update_user_settings.sh
/scripts/vault/unseal_vault.sh
/scripts/tokens/rotate_app_credentials.sh
/scripts/tokens/rotate_vault_credentials.sh
/sops/.sops.yaml
/sops/populate_sops_vars.sh
/sops/.sops.*
!/sops/.sops.template.*
/scripts/misc
/vault/data/*
/vault/certs/*
/vault/config/config.hcl
/vault/local/data/*
/vault/local/certs/*
/vault/local/config/config.start.hcl
/vault/local/config/config.init.hcl