services:

  vault-store:
    image: hashicorp/vault
    container_name: vault-store
    environment:
      VAULT_ADDR: "${VAULT_ADDR}"
      VAULT_API_ADDR: "${VAULT_API_ADDR}"
      VAULT_ADDRESS: "${VAULT_ADDRESS}"
      VAULT_SKIP_VERIFY: "${VAULT_SKIP_VERIFY}"

    restart: always
    ports:
      - "${VAULT_PORT}:${VAULT_PORT}"
      - "${VAULT_CLUSTER_PORT}:${VAULT_CLUSTER_PORT}"
    networks:
        - default
    volumes:
      - ./vault/data:/vault/data/:rw
      - ./vault/config:/vault/config/:rw
      - ./vault/local/certs:/certs/:rw
      - /var/run/docker.sock:/var/run/docker.sock
    cap_add:
      - IPC_LOCK
    entrypoint: "vault server -config ./vault/config/config.hcl"

  nginx-vault-proxy-server:
    restart: always
    image: nginx:latest
    container_name: nginx-vault-proxy-server.vault
    volumes:
      - ${PWD}/nginx/development.vault.conf:/etc/nginx/nginx.conf:ro
      - ${PWD}/vault/certs/${VAULT_CERT_FILENAME}:/etc/ssl/certs/${VAULT_CERT_FILENAME}:ro
      - ${PWD}/vault/certs/${VAULT_CERT_KEY_FILENAME}:/etc/ssl/private/${VAULT_CERT_KEY_FILENAME}:ro
    ports:
      - "${EXTERNAL_PROXY_PORT}:${INTERNAL_PROXY_PORT}"
      - "443:443"
networks:
  default: