<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Faux Course Portal!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
</head>
<header>
    <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary bg-border-bottom bg-border-body bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="container-fluid">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link active" aria-current="page" href="/courses">View All Courses</a>
                        <a class="nav-link" href="/courses/search">Search Courses</a>
                        {% if logged_in %}
                        <a class="nav-link" href="{{url_for('get_matching_user', user_id=user['id'])}}">Profile</a>
                        <a class="nav-link" href="/logout">Logout</a>
                        {% else %}
                        <a class="nav-link" href="/login">Login</a>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="notifications">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div id="flash-course-message" class="flash {{category}}">{{message}}</div>
        {% endfor %}
    </div>
    
    <h1>Viewing All Courses</h1>
    <p></p>
    {% if data['courses'][0] %}
    <div id="display-course-results">
        <h2>Viewing Page for Courses</h2>
        <table id="course-results-table">
            <thead>
                
                <tr>
                {% for key in data['courses'][0].keys() %}
                    {% if key == 'self' %}
                    {% else %}
                    <th>{{key}}</th>
                    {% endif %}
                {% endfor %}
                </tr>

            </thead>
            <tbody>
                {% for course in data['courses'] %}
                <tr>
                    {% for key in course.keys() %}
                        {% if key == 'title' %}
                        <td><a href="{{url_for('get_matching_course', course_id=course['id'])}}">{{course[key]}}</a></td>
                        {% elif key == 'self' %}
                        {% else %}
                        <td>{{course[key]}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        window.addEventListener('load', () => {
            const flaskMessage = document.querySelector("#flash-course-message");
            if (flaskMessage) {
                setTimeout(() => {document.querySelector("#flash-course-message").remove();}, 6000)
            }
        })
    </script>
    {% else %}
    <h2 id="no-courses-available-sub-heading">There are no currently existing courses!</h2>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<footer>
    <p></p>
    <nav aria-label="Page Navigation">
        <ul class="pagination">
            {% if data['page_links'][0] %}
            {% if data['page_links'][0]['page_number'] == 'prev' %}
            <li class="page-item"><a class="page-link" href="{{url_for('get_courses', offset=data['page_links'][0]['offset'], limit=data['page_links'][0]['limit'])}}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" >Previous</a></li>
            {% endif %}

            {% for link in data['page_links'] %}
            {% if link['page_number'] == 'prev' or link['page_number'] == 'next' %}
            {% elif link['page_number'] == active %}
            <li class="page-item active"><a class="page-link" href="{{url_for('get_courses', offset=link['offset'], limit=link['limit'])}}">{{link['page_number']}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for('get_courses', offset=link['offset'], limit=link['limit'])}}">{{link['page_number']}}</a></li>
            {% endif %}
            {% endfor %}
            {% if data['page_links'][-1]['page_number'] == 'next' %}
            <li class="page-item"><a class="page-link" href="{{url_for('get_courses', offset=data['page_links'][-1]['offset'], limit=data['page_links'][-1]['limit'])}}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
            {% else %}
            {% endif %}
        </ul>
    </nav>
    <a href="/courses/search">Course Search</a>
</footer>
</html>